.mainContentWrap {
  width: 35%;
  position: absolute;
  top: 139%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #c0c0c0;
  padding: 3%;
 
}


.signUpButton {
  color: black !important;
  background: #F0F0F0 !important ;
  border: 1px solid black !important;
  transition: all 0.3s ease !important;
  -webkit-transition: all 0.1s ease-in !important;
  -moz-transition: all 0.1s ease-in !important;
  -ms-transition: all 0.1s ease-in !important;
}
.signUpButton:focus {
  box-shadow: none !important ;
}
.signUpButton:hover {
    color: #f0c040 !important;
}
.loginButton {
    color: black !important;
    background: #f0c040 !important ;
    border: 1px solid black !important;
}
.loginButton:focus {
  box-shadow: none !important ;
}
.addMoreDegreeButton {
  color: black !important;
  background: #F0F0F0 !important ;
  border: 1px solid black !important;
  /* width: 100% !important; */
  transition: all 0.3s ease !important;
  -webkit-transition: all 0.1s ease-in !important;
  -moz-transition: all 0.1s ease-in !important;
  -ms-transition: all 0.1s ease-in !important;
}
.addMoreDegreeButton:hover {
    color: #f0c040 !important;
}